<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag    'device', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'device', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="vertical-center">

    <div class="col-md-3 device-container">

      <div class="device-form">
        <%= yield %>
      </div>

      <div class="device-footer">
        <%= simple_format t('admin.session.footer') %>
      </div>

    </div>

  </div>


</body>
</html>
